<div>
    <input [(ngModel)]="element" type="text">
    <button (click)="addToList(element)">Add Task</button>
</div>

<div class="task" *ngFor="let task of list; index as i">
    <div>
        <span class="title">Task number:</span>{{i+1}}
        <span class="remove">
            <button (click)='deleteTask(i)'>Completado</button>
        </span>
    </div>
    <div>
        <span class="title">Action:</span>
        <input value={{task}} type="text">
    </div>
</div>

<div class="clock">
    <p>{{localHour | date: 'mediumTime' }}</p>
</div>